#contactContainer {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    min-height: 500px;

    .wrapper {
        display: flex;
        justify-content: space-between;
        width: 1000px;
        margin: auto;
        max-width: 90vw;
        align-items: center;

        .box {
            display: flex;
            flex-direction: column;
            max-width: 90vw;
            flex-wrap: wrap;
            min-width: 350px;

            h1 {
                font-size: 30px;
                font-weight: 500;
                margin-top: 0;
                margin-top: 0;
            }

            p {
                margin: 0;
            }

            .adress,
            .openingHours {
                margin-top: 20px;
            }

            .btn {
                background-color: transparent;
                border: 1px solid #0a1e2c;
                color: #0a1e2c;
                margin: 30px 0;
            }

            .btn:hover {
                border: 1px transparent;
                background-color: #0a1e2c;
                color: white;
            }
        }

        .form {
            display: flex;
            align-items: center;

            form {
                display: flex;
                flex-direction: column;
                height: 100%;

                ::placeholder {
                    color: lightgray;
                }

                label {
                    margin-bottom: 5px;
                    font-size: 15px;
                }
                input,
                textarea {
                    margin-bottom: 10px;
                    border-radius: 5px;
                    border: 1px solid lightgrey;
                    padding: 8px;
                    font-size: 15px;

                    ::placeholder {
                        color: lightgrey;
                    }
                }

                input:focus,
                textarea:focus {
                    border: 1px solid lightgrey;
                    outline: 1px;
                }

                button {
                    width: 200px;
                    margin-top: 20px;
                }

                button:hover {
                    box-shadow: 2px 3px 33px 3px rgba(184, 178, 184, 0.31);
                    background-color: #ffd15f;
                    border: 1px solid transparent;
                }
            }
        }
    }
}

@media only screen and (max-width: 768px) {
    #contactContainer {
        margin: 30px 0;
        justify-content: center;
        text-align: center;

        .wrapper {
            margin: 0;
            justify-content: center;
            flex-direction: column;

            .box {
                .btn {
                    margin: 30px auto;
                }
            }
            .form {
                max-width: 100%;
                justify-content: center;
                form {
                    max-width: 100%;
                    button {
                        margin: 20px auto 0;
                    }
                }
            }
        }
    }
}
