.highlight {
  cursor: pointer;
  height: 330px;
  width: 250px;
  margin: 10px;
  display: inline-block;
  position: relative;

  .overlayImage {
    width: 100%;
    height: 100%;
    border-radius: 12px;
    position: absolute;
    z-index: 1;
  }

  &:first-child,
  &:nth-child(6),
  &:nth-child(11) {
    .overlayImage {
      background-color: #c5bf07b3;
    }
  }

  &:nth-child(2),
  &:nth-child(7) {
    .overlayImage {
      background-color: #1f022bb8;
    }
  }

  &:nth-child(3),
  &:nth-child(8) {
    .overlayImage {
      background-color: #0185c37a;
    }
  }

  &:nth-child(4),
  &:nth-child(9) {
    .overlayImage {
      background-color: #057503a3;
    }
  }

  &:nth-child(5),
  &:nth-child(10) {
    .overlayImage {
      background-color: #a50b12b5;
    }
  }

  .image {
    height: 100%;
    width: 250px;
    font-size: 20px;
    display: inline-block;
    border-radius: 15px;
    position: relative;
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
    -moz-transition: opacity 0.5s ease-in-out;
    -webkit-transition: opacity 0.5s ease-in-out;
    box-shadow: 2px 3px 33px 3px rgba(184, 178, 184, 0.31);
    object-fit: cover;

    &:hover {
      opacity: 0.7;
      transition: opacity 0.3s ease-in-out;
      -moz-transition: opacity 0.3s ease-in-out;
      -webkit-transition: opacity 0.3s ease-in-out;
    }
  }

  .textBox {
    position: absolute;
    z-index: 1;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    .title {
      text-align: center;
      color: white;
      font-size: 19.5px;
      font-weight: 500;
      white-space: pre-line;
    }
  }
}

